# JupyterLite core and kernel (compatible with Pyodide 0.27)

jupyterlite-core>=0.5,<0.6
jupyterlite-pyodide-kernel>=0.5,<0.6

# Dependencies for smoother CLI
jupyter-server>=2.14,<3
jupyterlab_server>=2.27,<3

# Build helpers
wheel
