/* .vitepress/theme/override.css */

.vp-doc {
  max-width: auto; /* Limit width for better readability */
  margin: auto; /* Center the content */
}

.vp-nav {
  display: -webkit-box; /* Safari */
  display: -ms-flexbox; /* IE 10 */
  display: flex; /* Modern browsers */
  justify-content: space-between;
}

.vp-sidebar {
  display: block; /* Ensure sidebar is visible */
  width: 250px; /* Set a fixed width for the sidebar */
}

@media screen and (min-width: 768px) {
  /* Adjust margins for larger screens */
  .vp-doc {
    margin-left: 15px; /* Leave space for the sidebar */
  }
}

/* Customize the highlight syntax (==highlight==) */
mark {
  background-color: #3bdeff;  /* Yellow background */
  color: #000;                /* Black text color */
  padding: 2px 6px;           /* Optional padding */
  border-radius: 4px;         /* Optional rounded corners */
}

